/* You can add global styles to this file, and also import other style files */
html{
  font: 100%/1.2 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  background-color: #f0f0f0;
  color: #333;
}

body {
  margin: 0;
}

